<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snow Reports</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .card-header{
            color:beige;
            font-weight: bold;
        }

        /* Custom CSS for styling the "inches" part */
        .snow-inches {
            font-weight: bold;
            font-size: 20px;
        }

      
    </style>
</head>
<body>
    <div class="container">
            <row class="">
                <h1 class="mt-5">Snow Reports</h1>
            </row>

        <div class="row mt-4">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header" style="background-color:rgb(0,70,127);">
                        Sugar Loaf
                    </div>
                    <div class="card-body">
                        <p class="card-text snow-measurement">Last 12 Hours: <span class="snow-inches">{{ sugar_loaf_snow[0] }}"</span></p>
                        <p class="card-text snow-measurement">Last 24 Hours: <span class="snow-inches">{{ sugar_loaf_snow[1] }}"</span></p>
                        <p class="card-text snow-measurement">Last 48 Hours: <span class="snow-inches">{{ sugar_loaf_snow[2] }}"</span></p>
                        <p class="card-text snow-measurement">Last 7 Days: <span class="snow-inches">{{ sugar_loaf_snow[3] }}"</span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header" style="background-color: rgb(197, 40, 28)">
                        Sunday River
                    </div>
                    <div class="card-body">
                        <p class="card-text snow-measurement">Last 12 Hours: <span class="snow-inches">{{ sunday_river_snow[0] }}"</span></p>
                        <p class="card-text snow-measurement">Last 24 Hours: <span class="snow-inches">{{ sunday_river_snow[1] }}"</span></p>
                        <p class="card-text snow-measurement">Last 48 Hours: <span class="snow-inches">{{ sunday_river_snow[2] }}"</span></p>
                        <p class="card-text snow-measurement">Last 7 Days: <span class="snow-inches">{{ sunday_river_snow[3] }}"</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
